{% extends 'ace_common/edx_ace/common/base_body.html' %}

{% load i18n %}
{% load static %}
{% block content %}
<table width="100%" align="left" border="0" cellpadding="0" cellspacing="0" role="presentation">
    <tr>
        <td>
            <h1>
                {% filter force_escape %}
                {% blocktrans %}A class has been opened for you for a CampusIL course: {{ root_course_name }}{% endblocktrans %}
                {% endfilter %}
            </h1>
            <p>
                {% blocktrans %}Greeting {{ full_name }},{% endblocktrans %}
            </p>
            <p>
                {% filter force_escape %}
                {% blocktrans %}Per your request, a new class was opened for you for the course {{ root_course_name }}{% endblocktrans %}
                {% endfilter %}
                ({{ course_name }})
            </p>
            <p>
                {% blocktrans %}Called {{ course_name }}{% endblocktrans %}
            </p>
            <p>
                {% filter force_escape %}
                {% blocktrans %}The class will appear in your personal area at the following link:{% endblocktrans %}
                {% endfilter %}
            </p>
            {% include "ace_common/edx_ace/common/return_to_course_cta.html" with course_cta_text=course_name course_cta_url=course_url %}
            <p>
                {% blocktrans %}Send the following link to your students to invite them to your course: {{ccx_auto_enroll_url}}{% endblocktrans %}
            </p>
        </td>
    </tr>
</table>
{% endblock %}
